<footer class="">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4 text-center">
                <!-- Contatos aqui -->
                <p>
                    <fa-icon [icon]="phone"></fa-icon>
                    <span> 910000000 </span>
                    <fa-icon [icon]="envelope"> </fa-icon>
                    <span> geral&#64;ergovitalidade.com </span>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <!-- Coluna vazia no centro -->
            </div>
            <div class="col-md-4 text-center">
                <span>{{ startDate | date: 'MMM/dd/yyyy' }}</span>
            </div>
        </div>
    </div>
  </footer>
