<section id="quem-somos" class="caixa">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="align-self-center">
            <h2>Quem Somos</h2>
            <p>
              A ErgoVitalidade é mais do que uma empresa, 
              somos uma comunidade comprometida em transformar
               o ambiente de trabalho em um espaço que promove
                saúde, bem-estar e produtividade. Desde a nossa
                 fundação, buscamos inspirar mudanças positivas,
                  fornecendo soluções que vão além do convencional.
                   Descubra a nossa jornada e como estamos a moldar
                    o futuro do trabalho.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <img src="assets/img/servicos.png" alt="colegas_escritorio" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
