<section id="home">
    <div class="container">
        <div class="row">
        <div class="col-md-6 d-flex">
            <div class="align-self-center">
            <h1 class="display-2 fw-medium">Bem-estar Corporativo</h1>
            <p class="fs-4">
                Descubra como podemos tornar o seu dia de trabalho
                mais <span class="fw-medium" [ngStyle]="{'color': heroWordColor}">{{ heroWord }}.</span>
            </p>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <div class="text-center">
            <img src="assets/img/capa-mulher-2.png" alt="mulher_alongar" class="tamanho-imagem">
            </div>
        </div>          
        </div>
    </div>
</section>